version: '3'

services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: IMCM
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    volumes:
      - ./data/db:/var/lib/postgresql/data
  backend:
    platform: linux/amd64
    build: ./backend
    command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"    
    volumes:
      - ./backend:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
  redis:
    image: "redis:alpine"
  celery:
    build: ./backend
    command: celery -A config worker -l info
    volumes:
      - ./backend:/code
    depends_on:
      - db
      - redis

