{% load static %}

<!DOCTYPE html>
<html>
  <body>
    <br />
    <a href="https://www.ismycustomermoving.com" target="_blank">
      <img
        src="https://is-my-customer-moving.herokuapp.com/static/logo.png"
        alt="logo"
        width="300"
        height="100"
      />
    </a>
    <br />
    <p>Hello,</p>
    <p>
      You have been sent this email by {{admin.first_name}}
      {{admin.last_name}} to create an account on Is My Customer Moving. Click
      the button below to create your account.
    </p>
    <button
      style="
        background-color: #8ce8c5;
        text-align: center;
        vertical-align: middle;
        border-radius: 8px;
        width: 200px;
        height: 70px;
        color: white;
        line-height: 50px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
      "
    >
      <a href="https://app.ismycustomermoving.com/addeduser/{{token}}" target="_blank"
      color="white" style="text-decoration: none; color: white;" >Create
      Account<a />
    </button>
    <p>NOTE: This link will only work for 1 day.</p>
    <p>Thanks,</p>
    <div style="margin: 2%">
      <p>Is My Customer Moving Team</p>
    </div>
    <br />
    <br />
    <p>
      If you think you received this by mistake but are still interested, you
      can check us out and sign up for a demo
      <a href="https://app.ismycustomermoving.com" target="_blank">here</a>.
    </p>
    
  </body>
</html>
