{% extends "base.html" %} {% block content %}
<h1>Weekly Product Updates</h1>
<p>Good Afternoon,</p>
<p>
  Our team has been working tirelessly to provide you with the best product
  possible. This week, we have made several updates to enhance your experience.
</p>
<p>Here is a list of the updates we've made:</p>
<ol>
  <li>
    We have added two-factor authentication as an option to increase the
    security of our product. You can enable this feature on the settings page in
    the IMCM app.
  </li>
  <li>
    We have created an option to view and download all homes sold in your area
    over the past week. This feature will cost an additional $100 per month or
    $1000 per year. However, for the next two weeks, we are offering it for
    free. If you would like to upgrade, simply click the "manage subscription"
    button on your settings page.
  </li>
  <li>
    For our Service Titan users, we have switched from pulling customer data to
    location data. This should result in an increased customer count on our
    application and a higher number of leads.
  </li>
  <p>
    Note: Service Titan does not allow location-based tags, only customer-based
    tags. This means that if a customer has multiple locations for sale or has
    recently sold a home, only one tag will be created in Service Titan.
  </p>
</ol>
<a
  href="https://app.ismycustomermoving.com/login"
  class="btn"
  style="color: black"
>
  <i class="fa fa-sign-in" aria-hidden="true" />Check Out The Updates!</a
>
<p>
  We are thrilled to continue improving our product with your help. If you have
  any feedback, please don't hesitate to reach out to
  reid@ismycustomermoving.com or jb@ismycustomermoving.com.
</p>

{%endblock%}
