name: Playwright Tests
on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install dependencies
      run: |
          cd frontend
          npm ci
    - name: Install Playwright Browsers
      run: |
        cd frontend
        npx playwright install --with-deps
    - name: Run Playwright tests
      run: | 
        cd frontend
        npx playwright test
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
